<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="starter" ng-controller="Ctrl" class="platform-android platform-cordova platform-webview" >
  
  <script id="Page1.html" type="text/ng-template">
  
  <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Login</h1>
    </div>
  <ion-content padding="true" >
  <br><br><br>
  <div style="text-align:center;"><br><img src="img/heritage.png" alt=""><br><br></div>

  <br><br><br>
          <div class="list padding" >
            <label class="item item-input">
             <input  type="number" ng-model="user.phonenumber" placeholder="Enter 10 digit mobile number">
            </label>
          </div>
            <br>
          <div class="padding">
            <button style="background-color:#3e2202;color:white" class="button button-block" ng-click="submit(user)">
              Login
            </button>
      </div>
</ion-content>
 </ion-view>
</script>



<script id="Side.html" type="text/ng-template">
 <ion-side-menus>
        
        <ion-side-menu-content>
          <ion-nav-bar style="background-color:#3e2202" class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-buttons side="left">
          <!--  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
              </button> -->
          </ion-nav-buttons>
          <ion-nav-view name="appContent"></ion-nav-view>
        </ion-side-menu-content> 
        
        <ion-side-menu side="left"style="background-color:#3e2202">
          <ion-header-bar class="bar-positive"style="background-color:#3e2202">
       <!--    <div style="margin-left:5px" class="item-image">
              <img src="img/logo_small.png">
            </div> -->
            <h1  style="text-align:center" class="title">{{username}}</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
            
                 <a ng-if="username == null" href="#/Side/Page1" class="item item-icon-left" menu-close> <i class="icon ion-home"></i>Login</a>
                    
              <a href="#/Side/yuthopia" class="item item-icon-left" menu-close> <i class="icon ion-home"></i>Youthopia&#39;16</a>
              <a href="#/Side/dash" ng-click="events()" class="item item-icon-left" menu-close> <i class="icon ion-ios-americanfootball"></i>Events</a>
              <a href="#/Side/heritage" class="item item-icon-left" menu-close>  <i class="icon ion-ios-flower"></i>Heritage School</a>

              <a href="#/Side/principal" class="item item-icon-left" menu-close><i class="icon ion-ios-mic"></i>Principal&#39;s desk</a>
              <a href="#/Side/presedent" class="item item-icon-left" menu-close><i class="icon ion-ios-mic"></i>President&#39;s desk</a>
              <a href="#/Side/guest" ng-click="guest()" class="item item-icon-left" menu-close><i class="icon ion-ios-people"></i>Guest Performers</a>
              <a href="#/Side/contactus" class="item item-icon-left" menu-close><i class="icon ion-ios-personadd"></i>Contact Us</a>
              <a href="#/Side/credit" class="item item-icon-left" menu-close><i class="icon ion-social-rss"></i>Credits</a>
              <a href="#" ng-if="username != null" ng-click="logout()" class="item item-icon-left" menu-close><i class="icon ion-log-out" ></i>Logout</a>
			  

                
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>
    </script>
	
	<script id = "otp.html" type="text/ng-template">
        <ion-view hide-nav-bar="true">

              <div style="background-color:#3e2202" class="bar bar-header bar-positive">
                  <h1 class="title">OTP Verification</h1>
                </div>

               <ion-content padding="true"> 
               <br><br>   <br><br>

                        <div class="row">

                            <div class="col col-100" style="text-align:center">
                             
                             <b> Enter the OTP </b>
                            </div>
                        </div>
                            <div class="col col-offset-30 col-100">
                                  <div class="list list-inset">
                                  <label class="item item-input">
                                  <input type="text" maxlength="4" placeholder="Enter your 4 Digit OTP" ng-model="user.otp">
                                  </label>
                                  </div>
                            </div>
                        </div>
                        <br><br>
                       <div class="row">
                          <div class="col col-offset-10 col-50">
                              <button class="button button-positive"style="background-color:#3e2202" ng-click="verify(0,user)">
                              Resend
                              </button>
                          </div>
                          <div class="col col-offset-5 col-50">
                           <button class="button button-positive"style="background-color:#3e2202" ng-click="verify(1,user)">
                             Verify
                            </button>
                          </div>
                       </div> 

         </ion-content>
         </ion-view>   
	</script>
	
 <script id="dash.html" type="text/ng-template">
<ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Events</h1>
    </div>
    
 <ion-content padding="true" style="background: url(../img/background.png)  no-repeat center center fixed;">
 
<br>
 <div ng-repeat="x in myData">
   
 <div class="list card">
  <div class="item item-avatar">
    <img src="{{x.image}}">
    <h2>{{x.eventname}}</h2>
    <p>&nbsp;&nbsp;{{x.domain}}</p>
  </div>
  <div class="item item-body">
    <img class="full-image" src="{{x.image}}">
    <p>
     {{x.description}}
    </p>
    <p>
      <a href="#" class="subdued" style="color:#C2DBFA">{{x.dateandtime}}</a>
      <a href="#" class="subdued" style="color:#C2DBFA" id="{{x.id}}" ng-click="subscribe({{x.id}})">subscribe</a>
    </p>
  </div>
</div>
    </div>
   



<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%" has-bouncing="true"></ion-infinite-scroll>

</ion-content>

</ion-view>
</script>

<script id = "yuthopia.html" type="text/ng-template" >
 <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Youthopia&#39;16</h1>
    </div>
    <ion-content padding="true" style="background: url(../img/background.png) no-repeat center center fixed;">
       <br><br>
      <img src="img/withoutline.png" style="width:100%">
      <br><br>
      <p style="text-align:justify;color:white">Youthopia – a melange of the words: Youth and Utopia, a paradise dedicated to the Youth, our personalised elysium. Metaphorically, this is not far from the truth! In a span of five short yet eventful years, Youthopia, has become an omnipresent entity in the conversations among the crème-de la crème of Kolkata’s institutions. Youthopia is an event which truly exemplifies why Heritage is known as “the school with a difference”. The juxtaposition of the frenzied zest of the organizing committee with the meticulous execution of the shows on the 3 days is what has made the ‘fest’ one of the ‘best’ in Kolkata!</p>

    </ion-content>
</ion-view>
</script>



<script id = "heritage.html" type="text/ng-template">
 <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Heritage</h1>
    </div>
    <ion-content padding="true" style="background: url(../img/background.png)  no-repeat center center fixed;color:white">
       <br><br>
      <img src="img/heri.PNG" style="width:100%">
      <br><br>
      <p style="text-align:justify">Fifteen years ago, a school came into being in the City of Joy which changed the opinion of people about the modern day learning. Flying through the firmament of educational institutions, The Heritage School, Kolkata has been recognized as the 10th Best Co-education School in India. This premier institution has molded the lives of innumerable students. The fact that our students are writing success stories within India and abroad, bears testimony to this statement – “A school with a difference”. The Heritage school is a home to every student and we feel proud and privileged to be bestowed with the tag of a ‘Heritan’. We aim to create conscientious citizens who are the perfect blend of education and culture.</p>

    </ion-content>
</ion-view>
</script>



<script id = "principal.html" type="text/ng-template">
 <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Principal&#39;s Desk</h1>
    </div>
    <ion-content padding="true" style="background: url(../img/background.png)  no-repeat center center fixed;">
    <br><br>
         <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/heri_col.jpg">
    <p>
      <center>Dr. suvojit kar</center> </p>
     <p style="text-align:justify"> This is a styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.</p>
      <p style="text-align:justify">This is a styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.</p>
      <p style="text-align:justify">This is a styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.</p>
   
  </div>

</div>
    </ion-content>
</ion-view>
</script>








<script id = "presedent.html" type="text/ng-template">
 <ion-view hide-nav-bar="true" class="pane">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">President&#39;s Desk</h1>
    </div>
    <ion-content padding="true" style="background: url(../img/background.png)  no-repeat center center fixed;">
    <br><br>
         <div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/heri_col.jpg">
    <p>
      <center>Vihaan Sachdev</center>
    </p>
    <p style="text-align:justify;">Youthopia. The name itself ignites pride in a Heritan&#39;s heart. The months of hard work, the inexpressible effort that goes into this fest- is more than worth it in the end. Ever since it was inaugurated in 2010, being a part of the Youthopia team has been my dream, and now this dream has been realized.   </p>
    <p style="text-align:justify;">
       Youthopia is more than just a fest for us. It&#39s an experience for those who revel with passion, live without regrets, and possess the courage to express themselves freely. It is the zeal that drives us towards success, and It is our spirit which propels us towards the zenith.   
    </p>
    <p style="text-align:justify;">
   In the words of John Wesley, &#34;When you set yourself on fire, people love to come and see you burn.&#34;
    </p>
    <p style="text-align:justify">
   Yourhopia&#39;16 presents you an opportunity to ignite your souls and discover the zeal you crave.    We have arrived. We espy. And we definitely will conquer.  
    </p>
  </div>

</div>
    </ion-content>
</ion-view>
</script>









<script id = "guest.html" type="text/ng-template">
 <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Guest performance</h1>
    </div>
    <ion-content padding="true" style="background: url(../img/background.png)  no-repeat center center fixed;;">
       <br><br>
       <div ng-repeat="x in myData">
   
 <div class="list card">
  <div class="item item-avatar">
    <img src="{{x.image}}">
    <h2>{{x.eventname}}</h2>
    <p>&nbsp;&nbsp;{{x.domain}}</p>
  </div>
  <div class="item item-body">
    <img class="full-image" src="{{x.image}}">
    <p>
     {{x.description}}
    </p>
    <p>
      <a href="#" class="subdued" style="color:#C2DBFA">{{x.dateandtime}}</a>
      <a href="#" class="subdued" style="color:#C2DBFA">subscribe</a>
    </p>
  </div>
</div>
    </div>

    </ion-content>
</ion-view>
</script>







<script id = "contactus.html" type="text/ng-template">
 <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Contactus</h1>
    </div>
    <ion-content padding="true">
       <br><br>
  <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="{{username}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone number</span>
    <input type="text" placeholder="{{phonenumber}}">
  </label>
 <label class="item item-input item-floating-label">
    <span class="input-label">query</span>
    <input type="text" placeholder="Enter your query" ng-model="user.query">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="heritage@gmail.com">
  </label>
</div>
<button ng-click="email(user)" class="button button-full button-calm">
  send mail
</button>
<br><br>
<div class="row">
  <div class="col col-25">
 <a href="#/Side/Page1"style="border:0px"  class="item item-icon-right col-20"> <i style="text-align:center" class="icon ion-social-facebook"></i></a>
 </div>
 <div class="col col-25">
 <a href="#/Side/Page1" style="border:0px" class="item item-icon-right col-20"> <i style="text-align:center" class="icon ion-ios-telephone"></i></a>
 </div>
 <div class="col col-25">
 <a href="#/Side/Page1" style="border:0px"  class="item item-icon-right col-20"> <i style="text-align:center" class="icon ion-ios-location"></i></a>
 </div>
 <div class="col col-25">
 <a href="#/Side/Page1" style="border:0px" class="item item-icon-right col-20"> <i style="text-align:center" class="icon ion-social-whatsapp"></i></a>
 </div>
 </div>
    </ion-content>
</ion-view>
</script>












</ion-content>
</ion-view>
</script>







<script id = "credit.html" type="text/ng-template">
 <ion-view hide-nav-bar="true">

<div style="background-color:#3e2202" class="bar bar-header bar-positive">
      <button class="button button-icon icon ion-navicon" style="text-align:left;padding-right:20px" menu-toggle = "left"></button> 


     <h1 class="title">Credits</h1>
    </div>
    <ion-content padding="true">
       <br><br>
     <img src="img/goyal.png" width="100%">
     <a href="http://www.goyalsoftwares.com/" class="button button-full button-positive">
       <p>Our team consist of an amalgam of talented Designer and developers.
       click here to view our website</p>
    </a>
    </ion-content>
</ion-view>
</script>








    <ion-nav-view></ion-nav-view>
  </body>
</html>
